<div id="clearance" class="profile">
  <h2>Profile</h2>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <div class="actions">
      <%= form.submit "Edit Profile", :class => "btn btn-info" %>
    </div>
    <div class="actions">
      <%= form.submit "My Listing", :class => "btn btn-success" %>
    </div>
    <div class="actions">
      <%= form.submit "Save", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>